.Square {
  width: 48px;
  height: 48px;
  background: black;
  border: 1px solid white;
  float: left;
}

.CurrentSquare {
  width: 48px;
  height: 48px;
  background: green;
  border: 1px solid white;
  float: left;
}

.VisitedSquare {
  width: 48px;
  height: 48px;
  background: blue;
  border: 1px solid white;
  float: left;
}

.Board {
  text-align: center;
  width: 400px;
  height: 400px;

}
